@page "/admin/dashboard"
@inject EmployeeService EmployeeService
@inject ProjectService ProjectService
@inject LeavesService LeaveService

<PageTitle>Dashboard</PageTitle>

<h1 class="text-center my-4">Tableau de Bord Administrateur</h1>

<div class="container mt-4">
    <div class="row">
        <InfoCard Title="Nombre de Salariés" Color="primary" Count="@employeeCount" IsLoading="@isLoading" />
        <InfoCard Title="Chantiers Actifs" Color="success" Count="@projectCount" IsLoading="@isLoading" />
        <InfoCard Title="Demande de congés" Color="danger" Count="@leaveCount" IsLoading="@isLoading" />

    </div>
</div>

@code {
    private int employeeCount;
    private int projectCount;
    private int leaveCount;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        var employees = await EmployeeService.GetEmployeesAsync();
        employeeCount = employees.Count;

        var projects = await ProjectService.GetProjectsAsync();
        projectCount = projects.Count;

        var leaveRequests = await LeaveService.GetLeavesValidationAsync();
        leaveCount = leaveRequests.Count;
        isLoading = false;
    }
}